{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('https://img.freepik.com/free-vector/flat-world-blood-donor-day-illustration_23-2149387167.jpg?w=740&t=st=1682538302~exp=1682538902~hmac=d8af01371ee8c13eb7e80d4f05332b922b74d65c0ebd461d83b19153701fe117');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
     
      
      <br><br><br><br>
      
    </div>  
  </section>


  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">

    <p class="lead text-center">Welcome To BloodWorks Management System
      </p>
        
  </div>
  {% include "blood/footer.html" %}


</body>

</html>
